/* Базовий стиль для контейнера таблиці */
.tableWrapper {
  padding: 18px;
  border-radius: 15px;
  background-color: var(--main-white);
  overflow-x: auto;
  max-width: 100%;
}

.tableContainer {
  overflow: hidden; /* Для обтинання кутів таблиці */
  border-radius: 8px;
}

/* Стиль для таблиці */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--white);
}

thead tr {
  border-bottom: 1px solid var(--border-table);
}

.headerTabContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Стиль для заголовка таблиці */
thead th {
  background-color: var(--background-form);
  padding: 20px 22px;
  font-weight: bold;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  border-right: 1px solid var(--border-table);
}

thead th:last-child,
td:last-child {
  border-right: none;
  position: relative;
}

/* Стиль для рядків тіла таблиці */
tbody tr {
  border-bottom: 1px solid var(--border-table);
}

/* Стиль для комірок таблиці */
td {
  padding: 22px;
  border-right: 1px solid var(--border-table);
  font-weight: 500;
  font-size: 20px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

/* Задати фіксовану ширину для окремих колонок */
th:nth-child(1),
td:nth-child(1) {
  width: 280px;
}

th:nth-child(2),
td:nth-child(2) {
  width: 274px;
}

th:nth-child(3),
td:nth-child(3) {
  width: 260px;
}

th:nth-child(4),
td:nth-child(4) {
  width: 254px;
}

td:nth-child(5) {
  display: flex;
  justify-content: center;
}

/* Стиль для кнопок */
.actionButton {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--text-semitransparent);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color var(--animation);
}

.actionButton:hover,
.actionButton:active {
  color: var(--black);
}

.progressWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 88px;
}
