/* Базовий стиль для контейнера таблиці */
.tableWrapper {
  border-radius: 15px;
  background-color: var(--main-white);
  overflow-x: auto;
  max-width: 100%;
}

.tableContainer {
  overflow: hidden; /* Для обтинання кутів таблиці */
  border-radius: 8px;
}

/* Стиль для таблиці */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--white);
}

thead tr {
  border-bottom: 1px solid var(--border-table);
}

.headerTabContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Стиль для заголовка таблиці */
thead th {
  background-color: var(--background-form);
  padding: 16px 14px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  border-right: 1px solid var(--border-table);
}

thead th:last-child,
td:last-child {
  border-right: none;
  position: relative;
}

/* Стиль для рядків тіла таблиці */
tbody tr {
  border-bottom: 1px solid var(--border-table);
}

/* Стиль для комірок таблиці */
td {
  padding: 16px 14px;
  border-right: 1px solid var(--border-table);
  font-weight: 500;
  font-size: 14px;
  overflow-wrap: break-word;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

/* Задати фіксовану ширину для окремих колонок DictionaryTab*/
.columnDictionary-1 {
  min-width: 77px;
  max-width: 82px;
}

.columnDictionary-2 {
  min-width: 114px;
  max-width: 116px;
}

.columnDictionary-3 {
  min-width: 95px;
  max-width: 95px;
}

.columnDictionary-4 {
  min-width: 50px;
  max-width: 50px;
  padding: 16px 9px;
}

td:nth-child(5) {
  display: flex;
  justify-content: center;
}

/* Задати фіксовану ширину для окремих колонок RecomendTab*/
.columnRecommend-1 {
  min-width: 90px;
  max-width: 90px;
}

.columnRecommend-2 {
  min-width: 116px;
  max-width: 116px;
}

.columnRecommend-3 {
  min-width: 99px;
  max-width: 99px;
}

.columnRecommend-4 {
  min-width: 38px;
  max-width: 38px;
  padding: 16px 9px;
}

/* Стиль для кнопок */
.actionButton {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--text-semitransparent);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color var(--animation);
}

.actionButton:hover,
.actionButton:active {
  color: var(--black);
}

.progressWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addWordBtn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
  gap: 7px;
  background-color: transparent;
  padding: 0;
  border: none;
  transition: color var(--animation);
}

.addWordBtn:hover {
  color: var(--green);
}

.addWordBtnIcon {
  stroke: var(--green);
}

@media screen and (min-width: 768px) {
  .tableWrapper {
    padding: 18px;
  }

  /* Стиль для заголовка таблиці */
  thead th {
    padding: 20px 12px 20px 22px;
    font-size: 18px;
  }

  /* Стиль для комірок таблиці */
  td {
    padding: 22px;
    font-size: 18px;
  }

  /* Задати фіксовану ширину для окремих колонок DictionaryTab*/
  .columnDictionary-1 {
    max-width: 160px;
  }

  .columnDictionary-2 {
    max-width: 169px;
  }

  .columnDictionary-3 {
    max-width: 151px;
  }

  .columnDictionary-4 {
    max-width: 122px;
    padding: 22px;
  }

  .columnDictionary-5 {
    max-width: 66px;
  }

  .progressWrapper {
    justify-content: space-between;
    width: 80px;
  }

  .columnRecommend-1 {
    max-width: 180px;
  }

  .columnRecommend-2 {
    max-width: 180px;
  }

  .columnRecommend-3 {
    max-width: 160px;
  }

  .columnRecommend-4 {
    min-width: 148px;
    max-width: 148px;
    padding: 14px;
  }
}

@media screen and (min-width: 1440px) {
  /* Стиль для заголовка таблиці */
  thead th {
    padding: 20px 22px;
    font-size: 20px;
  }

  /* Стиль для комірок таблиці */
  td {
    font-size: 20px;
  }

  /* Задати фіксовану ширину для окремих колонок DictionaryTab*/
  .columnDictionary-1 {
    min-width: 280px;
    max-width: 280px;
  }

  .columnDictionary-2 {
    min-width: 274px;
    max-width: 274px;
  }

  .columnDictionary-3 {
    min-width: 260px;
    max-width: 260px;
  }

  .columnDictionary-4 {
    min-width: 254px;
    max-width: 254px;
  }

  .columnDictionary-5 {
    min-width: 136px;
    max-width: 136px;
  }

  .progressWrapper {
    width: 88px;
  }

  .columnRecommend-1 {
    min-width: 372px;
    max-width: 372px;
  }

  .columnRecommend-2 {
    min-width: 364px;
    max-width: 364px;
  }

  .columnRecommend-3 {
    min-width: 260px;
    max-width: 260px;
  }

  .columnRecommend-4 {
    min-width: 208px;
    max-width: 208px;
    padding: 22px;
  }

  .addWordBtn {
    font-size: 16px;
  }
}
