.formContainer {
  width: 100%;
}

.selectContainer {
  position: relative;
  width: 100%;
}

.imputContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hintText {
  font-size: 10px;
  line-height: 1.17;
  color: var(--description-form);
  position: absolute;
  top: 88px;
}

@media screen and (min-width: 768px) {
  .hintText {
    font-size: 12px;
  }
}
