.passwordVisibilityButton {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 12px;
  background-color: transparent;
  position: absolute;
  right: 7px;
  top: 7px;
  z-index: 99;
  cursor: pointer;
}

.buttonIcon {
  stroke: var(--black);
}
