.formContainer {
  width: 100%;
}

.imputContainer {
  display: flex;
  width: 311px;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .formContainer {
    width: 500px;
  }

  .imputContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 32px;
  }

  .buttonGroup {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
