.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  gap: 6px;
  width: 81px;
  border: none;
  background-color: transparent;
  padding: 8px 0;
  color: var(--white);
}

.logOutIcon {
  stroke: var(--white);
}

@media screen and (min-width: 1440px) {
  .logoutBtn {
    font-size: 16px;
    color: var(--black);
  }

  .logOutIcon {
    stroke: var(--black);
  }
}
