.languageFlagContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 123px;
}

.language {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .languageFlagContainer {
    margin-top: 0px;
  }
}
