.responseWrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 50%;
  padding: 22px;
  background-color: var(--white);
  border-radius: 8px 0 0 0;
  position: relative;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.inputAnswer {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--white);
  outline: transparent;
  outline-offset: 4px;
  border: none;
  margin-bottom: 204px;
}

.inputAnswer::placeholder {
  color: var(--black);
}

.nextBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-semitransparent);
  background-color: transparent;
  padding: 0;
  width: 70px;
  border: none;
  transition: color var(--animation);
}

.nextBtn:hover {
  color: var(--green);
}

.nextBtnIcon {
  stroke: var(--green);
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 416px;
  position: absolute;
  left: -18px;
  top: 400px;
}

.errorMessage {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  position: absolute;
  top: 56px;
  color: var(--error);
}
