.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.descList {
  display: flex;
  gap: 15px;
  color: var(--text-form);
}

.afterElement {
  font-size: 14px;
  position: relative;
}

.afterElement::after {
  content: "";
  position: absolute;
  right: -8px;
  bottom: 11px;
  width: 2px;
  height: 2px;
  border-radius: 100px;
  background-color: var(--text-form);
}

@media screen and (min-width: 768px) {
  .afterElement {
    font-size: 16px;
  }

  .descList {
    gap: 20px;
  }

  .afterElement::after {
    right: -10px;
    bottom: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    height: 100%;
    padding-top: 35px;
  }
}
