.inputGroup {
  position: relative;
}

.label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.inputField {
  width: 100%;
  padding: 15px 18px;
  border: 1px solid var(--border);
  border-radius: 15px;
  outline: transparent;
  outline-offset: 4px;
  line-height: 1.5;
  background-color: transparent;
  transition: border-color var(--animation);
}

.inputField:hover {
  border-color: var(--green);
}

.inputField::placeholder {
  line-height: 1.5;
  color: var(--black);
}

.errorMessage {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  position: absolute;
  top: 56px;
  color: var(--error);
}

.inputError,
.inputError:hover {
  border-color: var(--error);
}

@media screen and (min-width: 768px) {
  .errorMessage {
    font-size: 12px;
  }
}
