.pageContainer {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 43px;
  height: 100%;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .pageContainer {
    max-width: 768px;
    background: radial-gradient(circle at right bottom, var(--accent-secondary) 0%, var(--white-1) 20%);
    min-height: calc(100vh - 88px);
    padding: 116px 0 106px 0;
  }

  .container {
    display: flex;
    gap: 98px;
    height: 100%;
    max-width: 628px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
  .pageContainer {
    max-width: 1440px;
    background: radial-gradient(circle at right bottom, var(--accent-secondary) 0%, var(--white-1) 20%);
    min-height: calc(100vh - 88px);
    padding-top: 44px;
  }

  .container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    height: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
}
