.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dashboardSecondContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .dashboardSecondContainer {
    width: 353px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
}
