.searchForm {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .searchForm {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .searchForm {
    width: 635px;
    margin-bottom: 0;
  }
}
