.navMenu {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 166px;
  margin-bottom: 28px;
}

.link {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: var(--white);
}

.active {
  background-color: var(--white);
  color: var(--black);
  position: relative;
  padding: 12px 20px;
  border-radius: 15px;
  transition: background-color var(--animation);
}

@media screen and (min-width: 768px) {
  .navMenu {
    margin-top: 170px;
  }
}

@media screen and (min-width: 1440px) {
  .navMenu {
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .link {
    color: var(--black);
  }

  .active {
    background-color: var(--green);
    color: var(--white);
    padding: 14px 20px;
  }

  .active:hover {
    background-color: var(--accent-secondary);
  }
}
