.wordBlockWrapper {
  width: 100%;
  padding: 22px;
  background-color: var(--white);
  border-radius: 0 0 8px 8px;
  height: 50%;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
}

.wordTask {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .wordTask {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .wordBlockWrapper {
    width: 50%;
    border-left: solid 1px var(--border-table);
    border-radius: 0 8px 8px 0;
    height: 100%;
  }

  .contentContainer {
    align-items: center;
  }
}
