.pageContainer {
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 43px;
  height: 100%;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.titleWrap {
  padding: 32px 16px 57px 16px;
  border-radius: 25px 25px 0 0;
  background-color: var(--background-form);
  order: 1;
}

.title {
  font-size: 46px;
  line-height: 0.95;
  margin-bottom: 20px;
}

.about {
  color: var(--text-form);
  margin-bottom: 32px;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.navList li {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.registerLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 100px;
  text-decoration: none;
  background-color: var(--green);
  color: var(--white);
  transition: background-color var(--animation);
  width: 100%;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
}

.registerLink:hover {
  background-color: var(--accent-secondary);
}

.loginLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-semitransparent);
  transition: color var(--animation);
}

.loginLink:hover {
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .pageContainer {
    background: radial-gradient(circle at right bottom, var(--accent-secondary) 0%, var(--white-1) 20%);
    min-height: calc(100vh - 88px);
    padding: 116px 0 106px 0;
  }

  .container {
    gap: 98px;
    max-width: 628px;
  }

  .titleWrap {
    padding: 48px 64px;
    border-radius: 30px;
    order: 0;
  }

  .title {
    font-size: 56px;
    margin-bottom: 32px;
  }

  .about {
    font-size: 20px;
  }

  .navList li {
    font-size: 18px;
  }

  .registerLink {
    max-width: 500px;
  }
}

@media screen and (min-width: 1440px) {
  .pageContainer {
    padding-top: 44px;
  }

  .container {
    flex-direction: row;
    gap: 80px;
    max-width: 1240px;
  }

  .titleWrap {
    width: 628px;
  }

  .title {
    font-size: 68px;
  }

  .navList {
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .navList li {
    width: calc((100% - 20px) / 2);
  }

  .loginLink {
    padding: 16px;
    border-radius: 100px;
    text-decoration: none;
    background-color: var(--white);
    color: var(--green);
  }

  .loginLink:hover {
    color: var(--black);
  }
}
